@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giriş Yap</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/RegisterLoginTheme/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/RegisterLoginTheme/css/style.css">
</head>
<body>

    <div class="main">

        @*   <!-- Sign up form -->
            <section class="signup">
            <div class="container">
            <div class="signup-content">
            <div class="signup-form">
            <h2 class="form-title">Kayıt Ol</h2>
            @using (Html.BeginForm("Index", "Register", FormMethod.Post)) //Yönlendiriceği Action, Action hangi controllerda, formmethodu
            {
            <form method="POST" class="register-form" id="register-form">
            <div class="form-group">
            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
            @Html.TextBoxFor(x=>x.WriteName,new {@name="name"})
            @Html.ValidationMessageFor(x=>x.WriteName,null,new { @class = "text-danger"})
            @*null atadığımız değer aslında validationMessage*@
        @* <input type="text" name="WriteName" id="name" placeholder="Adı Soyadı" />*@
        @*          </div>
            <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            @Html.TextBoxFor(x=>x.WriterMail,new {@name="email"})
            @Html.ValidationMessageFor(x=>x.WriterMail,null,new { @class = "text-danger"})
            @*<input type="email" name="WriterMail" id="email" placeholder="Mail Adresi" />*@
        @* </div>
            <div class="form-group">
            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
            @Html.TextBoxFor(x=>x.WriterPassword,new {@name="pass"})
            @Html.ValidationMessageFor(x=>x.WriterPassword,null,new { @class = "text-danger"})
            @* <input type="password" name="WriterPassword" id="pass" placeholder="Şifre" />*@
        @*  </div>
            <div class="form-group">
            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
            @Html.TextBoxFor(x=>x.WriterPassword,new {@name="re_pass"})
            @Html.ValidationMessageFor(x=>x.WriterPassword,null,new { @class = "text-danger"})
            @*<input type="password" name="WriterPassword" id="re_pass" placeholder="Şifre Tekrar" />*@
        @* </div>*@
        @* <div class="form-group">
            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
            @Html.TextBoxFor(x=>x.WriterImage,new {@name="re_pass"})
            @Html.ValidationMessageFor(x=>x.WriterImage,null,new { @class = "text-danger"})
            @*  <input type="text" name="WriterImage" id="re_pass" placeholder="Görsel Dosya Yolu" />*@
        @* </div>*@
        @*<div class="form-group">
            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
            <label for="agree-term" class="label-agree-term"><span><span></span></span> Web Sitesine <a href="#" id="agreeTerm" class="term-service" style="color:red">Kullanım Şartlarını</a> okudum,Onaylıyorum. </label>
            </div>
            <div class="form-group form-button">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Kayıt Ol" />
            </div>*@
        @* </form>
            }
            </div>
            <div class="signup-image">
            <figure><img src="~/RegisterLoginTheme/images/signup-image.jpg" alt="sing up image"></figure>
            <a href="#" class="signup-image-link">Zaten Üyeyim</a>
            </div>
            </div>
            </div>
            </section> *@

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/RegisterLoginTheme/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/Register/Index/" class="signup-image-link">Bir hesabın yok mu?Kayıt Ol</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Giriş Yap</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Mail Adresi" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Şifre" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Beni Hatırla</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Giriş Yap" />
                            </div>
                        </form>
                          <div class="social-login">
                            <span class="social-label">yada</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/RegisterLoginTheme/vendor/jquery/jquery.min.js"></script>
    <script src="~/RegisterLoginTheme/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/bootstrap/jquery/dist/jquery.js"></script>
    <script>
           $('#agreeTerm').click(function(){
            swal("Kullanım Koşulları","https://www.harunayyildiz.com/gizlilik-bildirimi/");
        });
    </script>
</body>
</html>
